$lght-blue: #CAD8FF;
$brh-blue: #4A5FFB;
$btn-hover-blue: #3748CB;
$blue: #2A04C3;
$drk-blue: #1A0382;
$black-blue: #030626;


$lght-gold: #FFFBD9;
$brh-gold: #FFF4A3;
$gold: #f3e3ac;
$drk-gold: #FFDC5C;

$brh-turqs: #7BF9EB;
$turqs: #02EDDE;
$drk-turqs: #00DACC;

$info-drk: #10707F;
$info: #17A2B8;
$info-lght: #D1ECF1;

$pstv-drk: #1C7430;
$pstv: #28A745;
$pstv-lght: #D4EDDA;

$wrn-drk: #C69500;
$wrn: #FFC107;
$wrn-lght: #FFF3CD;

$ngtv-drk: #B21F2D;
$ngtv: #DC3545;
$ngtv-lght: #F8D7DA;

$white: #FFF;
$gray-100: #F9F9FA;
$gray-200: #EDEDEF;
$gray-300: #D6D6DB;
$gray-400: #BBBBC3;
$gray-500: #A0A0AB;
$gray-600: #858594;
$gray-700: #6B6B7A;
$gray-800: #54545F;
$gray-900: #3C3C44;
$gray-1000: #242429;
$black: #0C0C0E;


$sc-gray-100: #5a646a;
$sc-gray-200: #4d575e;
$sc-gray-300: #3d4850;
$sc-gray-400: #293237;
$sc-gray-500: #22282c;
$sc-gray-600: #1c1f21;
$sc-orange-light: #f98939;
$sc-orange: #da6511;
$sc-yellow: #f3e3ac;
$sc-white: #ededed;

$sc-grey: #485563;
$sc-grey-dark: #29323c;
$sc-blue-grey: #334056;
$sc-blue-sea: #243b55;
$sc-blue-dark:#141e30;

$blue-100: $lght-blue;
$blue-300:  $brh-blue;
$blue-500: $blue;
$blue-700: $drk-blue;
$blue-900: $black-blue;

$yellow:  $gold;
$yellow-100: $lght-gold;
$yellow-300: $brh-gold;
$yellow-500: $yellow;
$yellow-900: $drk-gold;

$teal: $turqs;
$teal-300: $brh-turqs;
$teal-500: $teal;
$teal-700: $drk-turqs; 

$primary: $sc-orange;
$secondary: $teal;
$success: $pstv;
$warning: $wrn;
$danger: $ngtv;

$font-family-sans-serif: 'Inter', sans-serif;